Repository stackhpc/kolla-ansible, pull requests merged in 2023-07, with the labels that each got.

#402 RUG: Use friendly prometheus instance labels
  ansible/group_vars/all.yml
  ansible/roles/prometheus/templates/prometheus.yml.j2
  doc/source/reference/logging-and-monitoring/prometheus-guide.rst
  releasenotes/notes/friendly-hostnames-1bb1254b2b434a11.yaml
Labels: monitoring

#404 feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Labels: stackhpc-ci, workflows

#406 feat: automatic update of community files stackhpc/zed
  .github/CODEOWNERS
Labels: stackhpc-ci, community-files

#405 feat: automatic update of workflows stackhpc/zed
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Labels: stackhpc-ci, workflows
